$rating-area-width: 580px;

a[href*='intent'] {
  display: inline-block;
  margin-top: 0.4em;
}

.heading-1 {
  color: #092c58bd;
  font-size: 1.7rem;
  font-weight: 200;
}

/*
 * Rating styles
 */
.rating {
  // overflow: hidden;
}

.rating input {
  // float: right;
  opacity: 0;
  position: absolute;
}

.rating a,
.rating label {
  font-size: 60px;
  // float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a,
.star-rating {
  background: linear-gradient(181deg, #132c58 0%, rgb(0 123 255 / 25%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.suggestion {
  // width: 520px;
  // margin: auto;
}

.progress-bar-spacing {
  height: 2px !important;
}
